:root {
  --main-bg-color: #fef6e4;
  --headline-color: #001858;
  --main-text-color: #172c66;
  --button-color: #f582ae;
  --primary: #f3d2c1;
  --secondary: #8bd3dd;
  --tertiary: #f582ae;
  --title-font: "Anton";
  --text-font: "Oxygen";
}

body {
  background: var(--main-bg-color);
  color: var(--main-text-color);
  font-family: var(--text-font);
}

.btn {
  cursor: pointer;
  background-color: var(--button-color);
  color: var(--secondary);
  font-size: 1.3em;
  font-family: var(--title-font);
  width: 140px;
  height: 90px;
  border: none;
  border-radius: 20px;
  box-shadow: 6px 3px 1px var(--secondary);
}

.btn:hover {
  background-color: var(--secondary);
  color: var(--button-color);
  box-shadow: 6px 3px 1px var(--button-color);
}

.btn:active {
  background-color: var(--button-color);
  color: var(--headline-color);
  transform: translate(6px, 3px);
  box-shadow: none;
}

nav {
  position: fixed;
  top: 1px;
  width: 99%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
nav div {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
}
nav div h1 {
  font-family: var(--title-font);
  font-size: 2.3em;
  color: var(--headline-color);
}
nav div strong {
  margin-top: -40px;
  font-size: 1.9em;
}
nav ul {
  display: flex;
  padding: 20px;
  list-style: none;
}

.startSection {
  visibility: hidden;
}

.startSection.active {
  visibility: visible;
  position: fixed;
  min-height: 100vh;
  width: 99%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.startSection.active h1 {
  font-size: 2.3em;
  color: var(--headline-color);
  font-family: var(--title-font);
}

.questionSection {
  visibility: hidden;
}

.questionSection.active {
  visibility: visible;
  position: fixed;
  min-height: 100vh;
  width: 99%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}
.questionSection.active .topSection {
  font-size: 1.4em;
  font-family: var(--title-font);
  color: var(--headline-color);
}
.questionSection.active .question {
  display: flex;
  align-items: center;
}
.questionSection.active .question img {
  border-radius: 20px;
  box-shadow: 6px 3px 1px var(--secondary);
}
.questionSection.active .middleSection {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.questionSection.active .score {
  font-size: 1.4em;
  font-family: var(--title-font);
  color: var(--headline-color);
}

.resultatFinSection {
  visibility: hidden;
}

.resultatFinSection.active {
  visibility: visible;
  position: fixed;
  min-height: 100vh;
  width: 99%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  top: 40%;
}
.resultatFinSection.active .score2 {
  font-size: 1.4em;
  font-family: var(--title-font);
  color: var(--headline-color);
}

footer {
  position: fixed;
  width: 99%;
  bottom: 1px;
  display: flex;
  justify-content: center;
}/*# sourceMappingURL=styles.css.map */