:root {
    --main-font-family: 'Josefin Sans';
    --main-linear-gradient: linear-gradient(120deg, #a6c0fe 0%, #f68084 100%);
    --reverse-linear-gradient: linear-gradient(120deg, #f68084 0%, #a6c0fe 100%);
    --main-headline-color: #0e172c;
    --main-section-color: #d9d4e7;
    --accent-color: #fec7d7;
    --secondary-color: #a786df;

}

.btn {
    width: 120px;
    height: 60px;
    background-image: var(--reverse-linear-gradient);
    color: var(--main-headline-color);
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, var(--secondary-color) 0 -3px 0 inset;;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: 0.3s all;
    
}

.btn:hover {
    box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, var(--main-section-color) 0 -3px 0 inset;
    transform: translateY(2px);
    color: var(--secondary-color);
    transition: 0.3s all;
}

.btn:active {
    box-shadow: var(--secondary-color) 0 3px 7px inset;
    transform: translateY(6px);
}

body {
    background-image: var(--main-linear-gradient);
    background-size: cover;
    font-family: var(--main-font-family);
    color: var(--main-headline-color);

}

.topPage {
    position: fixed;
    width: 99%;
    margin: auto;
    
    .navBar {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        .logo {
            font-size: 2.5em;
            margin-left: 25px;
            cursor: pointer;

        }

        .listBtnTopPage {
            display: flex;
            flex-direction: row;
            list-style: none;
            gap: 15px;
            margin-right: 25px;


        }

    }

}

.botPage {
    width: 99%;
    position: fixed;
    text-align: center;
    bottom: 10px;

}

