:root {
  --main-bg-color: #282634;
  --secondary-bg-color: #1a1824;
  --primary-color: #ff4057;
  --secondary-color: #DCDCDC;
  --main-font-family: "Amatic SC";
}

html {
  scroll-behavior: smooth;
}

.btn {
  padding: 17px 40px;
  border-radius: 50px;
  border: 0;
  font-family: var(--main-font-family);
  background-color: var(--secondary-color);
  box-shadow: rgba(0, 0, 0, 0.05) 0 0 8px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  font-size: 1.4em;
  transition: all 0.2s ease;
  cursor: pointer;
}

.btn:hover {
  letter-spacing: 3px;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  box-shadow: var(--secondary-color) 0px 7px 29px 0px;
}

.btn:active {
  letter-spacing: 3px;
  background-color: var(--primary-color);
  color: var(--main-bg-color);
  box-shadow: var(--secondary-color) 0px 0px 0px 0px;
  transform: translateY(10px);
  transition: 100ms;
}

body {
  color: var(--secondary-color);
  font-family: var(--main-font-family);
}
body header {
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 1;
}
body header nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
body header nav .logoNavBar {
  display: flex;
  flex-direction: row;
  gap: 15px;
  align-items: center;
}
body header nav .logoNavBar img {
  width: 80px;
}
body header nav .logoNavBar .txtLogoNavBar h1 {
  font-size: 2.8em;
}
body header nav .logoNavBar .txtLogoNavBar h1 span {
  color: var(--primary-color);
}
body header nav .logoNavBar .txtLogoNavBar p {
  margin-top: -35px;
  font-size: 1.5em;
}
body header nav .logoNavBar .txtLogoNavBar p span {
  color: var(--primary-color);
}
body header nav .menuNavBar ul {
  display: flex;
  flex-direction: row;
  gap: 25px;
  align-items: center;
  list-style: none;
}
body .aboutSection {
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 50px;
  margin: auto;
  background: var(--main-bg-color);
}
body .aboutSection .txtAbout {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
body .aboutSection .txtAbout h1 {
  font-size: 2.3em;
}
body .aboutSection .txtAbout h1 span {
  color: var(--primary-color);
}
body .aboutSection .txtAbout p {
  font-size: 1.7em;
}
body .aboutSection .txtAbout p span {
  color: var(--primary-color);
}
body .aboutSection .txtAbout .btnSectionAbout {
  display: flex;
  flex-direction: row;
  gap: 15px;
}
body .skillsSection {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
  background: var(--secondary-bg-color);
}
body .skillsSection h1 {
  font-size: 2.8em;
  color: var(--primary-color);
}
body .skillsSection .flip-cards {
  width: 70vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 25px;
}
body .skillsSection .flip-cards img {
  margin: auto;
  width: 100px;
}
body .skillsSection .flip-cards strong {
  font-family: var(--main-font-family);
  color: var(--main-bg-color);
  font-size: 2.5em;
}
body .skillsSection .flip-cards strong span {
  color: var(--primary-color);
}
body .skillsSection .flip-cards .flip-card {
  background-color: transparent;
  width: 140px;
  height: 140px;
  perspective: 1000px;
  font-family: sans-serif;
  cursor: pointer;
}
body .skillsSection .flip-cards .flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}
body .skillsSection .flip-cards .flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}
body .skillsSection .flip-cards .flip-card-front, body .skillsSection .flip-cards .flip-card-back {
  box-shadow: var(--secondary-color) 2px 7px 10px 0px;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 1rem;
}
body .skillsSection .flip-cards .flip-card-front {
  background: linear-gradient(120deg, var(--main-bg-color) 60%, var(--secondary-color) 88%, rgb(255, 211, 195) 40%, var(--main-bg-color) 48%);
}
body .skillsSection .flip-cards .flip-card-back {
  background: linear-gradient(120deg, var(--secondary-color) 30%, var(--main-bg-color) 88%, bisque 40%, var(--secondary-color) 78%);
  color: white;
  transform: rotateY(180deg);
}
body .worksSection {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
  background: var(--main-bg-color);
}
body .worksSection h1 {
  font-size: 2.8em;
}
body .worksSection h1 span {
  color: var(--primary-color);
}
body .worksSection .cards {
  width: 70vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 25px;
}
body .worksSection .cards .card {
  --font-color: #323232;
  --bg-color: #e0e0e0;
  width: 250px;
  height: 350px;
  border-radius: 20px;
  background: var(--bg-color);
  box-shadow: -9px 9px 18px #5a5a5a, 9px -9px 18px #ffffff;
  display: flex;
  flex-direction: column;
  transition: 0.4s;
  position: relative;
}
body .worksSection .cards .card:hover {
  transform: scale(1.02);
  box-shadow: 0px 0px 10px 2px #5a5a5a;
}
body .worksSection .cards .card__img {
  width: 100%;
  height: 100%;
  border-radius: 20px 20px 0 0;
  display: flex;
  align-items: center;
  margin-bottom: -55px;
}
body .worksSection .cards .card__img .StoryMe {
  width: 160px;
  margin: auto;
}
body .worksSection .cards .card__img .PabloH {
  width: 60px;
  margin: auto;
}
body .worksSection .cards .card__descr-wrapper {
  padding: 15px;
  display: grid;
}
body .worksSection .cards .card__title {
  color: var(--font-color);
  text-align: center;
  margin-bottom: 15px;
  font-weight: 900;
  font-size: 1.7em;
}
body .worksSection .cards .card__descr {
  color: var(--font-color);
}
body .worksSection .cards .svg {
  width: 25px;
  height: 25px;
  transform: translateY(25%);
  fill: var(--font-color);
}
body .worksSection .cards .card__links {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
body .worksSection .cards .card__links .link {
  color: var(--font-color);
  font-weight: 600;
  font-size: 15px;
  text-decoration: none;
}
body .worksSection .cards .card__links .link:hover {
  text-decoration: underline;
}
body .contactSection {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
  background: var(--secondary-bg-color);
}
body .contactSection .form {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  width: 500px;
  background-color: var(--main-bg-color);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 30px 30px -30px rgba(27, 26, 26, 0.315);
}
body .contactSection .form .title {
  color: var(--primary-color);
  font-size: 30px;
  font-weight: 600;
  letter-spacing: -1px;
  line-height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
body .contactSection .form input {
  outline: 0;
  border: 1px solid rgb(219, 213, 213);
  padding: 8px 14px;
  border-radius: 8px;
  width: 75%;
  height: 50px;
}
body .contactSection .form textarea {
  border-radius: 8px;
  height: 100px;
  width: 90%;
  resize: none;
  outline: 0;
  padding: 8px 14px;
  border: 1px solid rgb(219, 213, 213);
}/*# sourceMappingURL=styles.css.map */