:root {
    --main-bg-color: #282634;
    --secondary-bg-color: #1a1824;
    --primary-color: #ff4057;
    --secondary-color: #DCDCDC;
    --main-font-family: 'Amatic SC';
}
html {
    scroll-behavior: smooth;
}

.btn {
    padding: 17px 40px;
    border-radius: 50px;
    border: 0;
    font-family: var(--main-font-family);
    background-color: var(--secondary-color);
    box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-size: 1.4em;
    transition: all .2s ease;
    cursor: pointer;
}
   
.btn:hover {
    letter-spacing: 3px;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    box-shadow: var(--secondary-color) 0px 7px 29px 0px;
}
   
.btn:active {
    letter-spacing: 3px;
    background-color: var(--primary-color);
    color: var(--main-bg-color);
    box-shadow: var(--secondary-color) 0px 0px 0px 0px;
    transform: translateY(10px);
    transition: 100ms;
}

body {
    
    color: var(--secondary-color);
    font-family: var(--main-font-family);

    header {
        position: fixed;
        top: 0px;
        width: 100%;
        z-index: 1;

        nav {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            padding: 20px;

            .logoNavBar {
                display: flex;
                flex-direction: row;
                gap: 15px;
                align-items: center;

                img {
                    width: 80px;
                }

                .txtLogoNavBar {

                    h1 {
                        font-size: 2.8em;

                        span {
                            color: var(--primary-color);
                        }
                    }

                    p {
                        margin-top: -35px;
                        font-size: 1.5em;

                        span {
                            color: var(--primary-color);
                        }
                    }
                }

                
            }
            .menuNavBar {

                ul {
                    display: flex;
                    flex-direction: row;
                    gap: 25px;
                    align-items: center;
                    list-style: none;

                }
            }
        }
    }

    .aboutSection {
        min-height: 100vh;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 50px;
        margin: auto;
        background: var(--main-bg-color);

        .txtAbout {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;

            h1 {
                font-size: 2.3em;

                span {
                    color: var(--primary-color);
                }
            }

            p {
                font-size: 1.7em;

                span {
                    color: var(--primary-color);
                }
            }

            .btnSectionAbout {

                display: flex;
                flex-direction: row;
                gap: 15px;
            }
        }
    }

    .skillsSection {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 40px;
        background: var(--secondary-bg-color);

        h1 {
            font-size: 2.8em;
            color: var(--primary-color);
        }
        

        .flip-cards {
            width: 70vh;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            gap: 25px;
            

            img {
                margin: auto;
                width: 100px;
            }
    
            strong {
                font-family: var(--main-font-family);
                color: var(--main-bg-color);
                font-size: 2.5em;

                span {
                    color: var(--primary-color);
                }
            }
            .flip-card {
                background-color: transparent;
                width: 140px;
                height: 140px;
                perspective: 1000px;
                font-family: sans-serif;
                cursor: pointer;
                }
    
            .flip-card-inner {
            position: relative;
            width: 100%;
            height: 100%;
            text-align: center;
            transition: transform 0.8s;
            transform-style: preserve-3d;
            }
    
            .flip-card:hover .flip-card-inner {
            transform: rotateY(180deg);
            }
    
            .flip-card-front, .flip-card-back {
            box-shadow: var(--secondary-color) 2px 7px 10px 0px;
            position: absolute;
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 100%;
            height: 100%;
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
            
            border-radius: 1rem;
            }
    
            .flip-card-front {
            background: linear-gradient(120deg, var(--main-bg-color) 60%, var(--secondary-color) 88%,
                rgb(255, 211, 195) 40%, var(--main-bg-color) 48%);
            
            }
    
            .flip-card-back {
            background: linear-gradient(120deg, var(--secondary-color) 30%, var(--main-bg-color) 88%,
                bisque 40%, var(--secondary-color) 78%);
            color: white;
            transform: rotateY(180deg);
            }
        }

        
    }

    .worksSection {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 40px;
        background: var(--main-bg-color);

        h1 {
            font-size: 2.8em;

            span {
                color: var(--primary-color);
            }
        }
        .cards {
            width: 70vh;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            gap: 25px;

            .card {
                --font-color: #323232;
                --bg-color: #e0e0e0;
                width: 250px;
                height: 350px;
                border-radius: 20px;
                background: var(--bg-color);
                box-shadow: -9px 9px 18px #5a5a5a,
                            9px -9px 18px #ffffff;
                display: flex;
                flex-direction: column;
                transition: .4s;
                position: relative;
            }
              
            .card:hover {
                transform: scale(1.02);
                box-shadow: 0px 0px 10px 2px #5a5a5a;
            }
              
            .card__img {
                width: 100%;
                height: 100%;
                border-radius: 20px 20px 0 0;
                display: flex;
                align-items: center;
                margin-bottom: -55px;
    
                .StoryMe {
                    width: 160px;
                    margin: auto;
                    
                    
                }
                .PabloH {
                    width: 60px;
                    margin: auto;
                }
            }
              
            .card__descr-wrapper {
                padding: 15px;
                display: grid;
            }
              
            .card__title {
                color: var(--font-color);
                text-align: center;
                margin-bottom: 15px;
                font-weight: 900;
                font-size: 1.7em;
            }
              
            .card__descr {
                color: var(--font-color);
            }
              
            .svg {
                width: 25px;
                height: 25px;
                transform: translateY(25%);
                fill: var(--font-color);
                
            }
              
            .card__links {
                margin-top: 10px;
                display: flex;
                justify-content: center;
                align-items: center;
            }
              
            .card__links .link {
                color: var(--font-color);
                font-weight: 600;
                font-size: 15px;
                text-decoration: none;
            }
              
            .card__links .link:hover {
                text-decoration: underline;
            }

        }

        
    }

    .contactSection {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 40px;
        background: var(--secondary-bg-color);

        .form {
            position: relative;
            display: flex;
            align-items: center;
            flex-direction: column;
            gap: 10px;
            width: 500px;
            background-color: var(--main-bg-color);
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 30px 30px -30px rgba(27, 26, 26, 0.315);
        }
          
        .form .title {
            color: var(--primary-color);
            font-size: 2.8em;
            font-weight: 600;
            letter-spacing: -1px;
            line-height: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 20px;
        }
          
        .form input {
            outline: 0;
            border: 1px solid rgb(219, 213, 213);
            padding: 8px 14px;
            border-radius: 8px;
            width: 75%;
            height: 50px;
        }
          
        .form textarea {
            border-radius: 8px;
            height: 100px;
            width: 90%;
            resize: none;
            outline: 0;
            padding: 8px 14px;
            border: 1px solid rgb(219, 213, 213);
        }
          
    }

    
}