:root {
    --main-font-family: 'Josefin Sans';
    --main-gradiant-color: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(106,9,121,1) 35%, rgba(255,139,0,1) 70%, rgba(255,255,255,1) 100%);
    
}

body {
    background: var(--main-gradiant-color);
    font-family: var(--main-font-family);
}

@media (max-width: 480px) {
    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: center;

        div {
            color: white;
            h1 {
                font-size: 2.2em;
                cursor: pointer;
                transition: all .3s;
            }

            
        
        }

        ul {
            
        }
    }
    
}